
/* ヘッダー設定 */
header {
  font-size: 2.5em;
  width: 100%; /* 幅いっぱいを指定 */
  height: 8%; /* 高さを50pxに指定 */
  background: #4169e1; /* 背景色にグレーを指定 */
  padding: 10px 0; /* ヘッダーに上下左右それぞれ余白を指定 */
  box-sizing: border-box; /* padding分を含んで幅を100%にするため */
  position: fixed; /* ウィンドウを基準に画面に固定 */
  top: 0; /* 上下の固定位置を上から0pxにする */
  left: 0; /* 左右の固定位置を左から0pxにする */
  align-items: center; /* 中の要素を上下中央に並べる */
  font-size: 30px;
}

/* ボディ設定 */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f8ff;
  color: #2c3e50;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-size: 20px;
  text-align: center;
}


nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: auto;
  padding: auto;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: #ffffff;
  font-weight: bold;
}

/* 画像設定 */
img {
  margin:auto;
}

/* 共通　セクション設定 */
.section {
  padding: 40px;
  text-align: center;
  background-color: #ffffff;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.section .title{
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #4169e1;
}

.section .text{
  text-align: left;
  padding: 10;
  margin: 20px 0 0;
}

/* プロフィール設定 */
.introduce{
  margin: auto;
  padding: 10;
  padding: 0;
  display: flex;
  justify-content: center;
  text-align: left;
}

.introduce img{
  margin-right: 2%;
}

.introduce .title{
  text-align: center;
  color:black;
  font-size: 30px;
  margin: auto;
  text-decoration: underline;
}

.introduce ul{
  list-style: none;
}

/* スキル設定 */
.skill .title{
  text-align: center;
  color:black;
  font-size: 30px;
  margin: auto;
  text-decoration: underline;
}

.section .usecase{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.section .work{
color:blue;
margin-right: 10px;
}

.section .personal{
  color:greenyellow;
  margin-right: 10px;
}

.skill table{
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 40%;
  table-layout: fixed;
}

tr .left{
  float: left;
  margin-left: 20px;
}

#skill ul {
  list-style: none;
  padding: 0;
}

#skill ul li {
  background: #e0ebf5;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  color: #7f8c8d;
}

.project, .experience-item {
  background: #e0ebf5;
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
  text-align: left;
  /* color: #7f8c8d; */
}

#Contact form {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

#Contact label {
  display: block;
  margin: 10px 0 5px;
  color: #7f8c8d;
}

#Contact input, #Contact textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #ffffff;
  color: #2c3e50;
}

button[type="submit"] {
  background-color: #4169e1;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #87ceeb;
}

footer {
  background-color: #4169e1;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}
