body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f8ff;
  color: #2c3e50;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  background-color: #4169e1;
  color: #ffffff;
  padding: 10px 0;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.section {
  padding: 40px;
  text-align: center;
  background-color: #ffffff;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#about h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #4169e1;
}

#skills ul {
  list-style: none;
  padding: 0;
}

#skills ul li {
  background: #e0ebf5;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  color: #7f8c8d;
}

.project, .experience-item {
  background: #e0ebf5;
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
  text-align: left;
  color: #7f8c8d;
}

#contact form {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

#contact label {
  display: block;
  margin: 10px 0 5px;
  color: #7f8c8d;
}

#contact input, #contact textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #ffffff;
  color: #2c3e50;
}

button[type="submit"] {
  background-color: #4169e1;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #87ceeb;
}

footer {
  background-color: #4169e1;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}
